* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary: #074D77;
    --secondary: #FED007;
    --white:#F9FAFB;
    --terciary:#57910F;
    --blue-gradient: linear-gradient(100deg, #074D77 48.49%, rgba(7, 77, 119, 0.00) 90.67%);
    --green-gradient: (280deg, #57910F 38.37%, rgba(87, 145, 15, 0.00) 92.64%);
    --yellow-gradient: (180deg, #FED007 -29.6%, rgba(254, 208, 7, 0.00) 100%);
}


/* NavBar  */

.navBar {
    width: auto;
    height: auto;
    margin-top:10px;
    padding-top:10px;

    align-items: center;

}
.navBar-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 36px;
    padding-right: 36px;
    color: var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.navBar-container img {
    width: 30%;
    margin-bottom: 16px;   
}


/*main */
.main-secction {
    width: 100%;
    height: auto;

}

.main-container{
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;   
    background: linear-gradient(50deg, #074D77 68.31%, rgba(7, 77, 119, 0.00) 92%);
    align-items: center;
}

 .main-container img {
    max-width: auto;
    height: 320px;
    object-fit: contain;
}

.main-container-text{
    text-align: center;
}

main .main-title {
    color: var(--white);
    font-size: 45px;

 
}

main .main-subtitle-title {
    color: var(--secondary);
    font-size: 24px;
    margin-top: 6px;
}

main .main-subtitle {
    color: var(--white);
    font-size: 24px;
    margin-top: 6px;
    margin-bottom: 24px;
}

#quote-button  {
    width: 120px;
    height: 40px;
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 20px;
    border-style: none;
    font-size: 13px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;

}
#quote-button:hover {
    background-color: var(--terciary);
    color: var(--white);
    box-shadow: 0px 4px 4px 0px rgba(208, 206, 206, 0.382);

}

/* Service Section */
.service-container {
    width: 100%;
    margin: 20px;

}

.service-container h2 {
    font-size: 30px;
    text-align: center;
    color: var(--primary);
}

.service-container-services {
    width: auto;
    margin: 16px;
    margin-bottom: 24px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px; 
}

.service,
.service-green {

    width: 200px;
    height: auto;
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    color: var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
}

.service {
    background: var(--Primary, #074D77);
}

.service-green {
    background: var(--terciary);
}

.service-p {
    font-size: 16px;
}

/* About Us  */
.container-title-gradient {
    width: auto;
    height: 150px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #FED007 -29.6%, rgba(254, 208, 7, 0.00) 100%);
    justify-content: center;
}
.container-title-gradient h2 {
    align-items: center;
    text-align: center;
    padding-top: 40px;
    font-size: 32px;
    color: var(--primary);
   
}

.about-container-card {
    width: auto;
    height: 750px;
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 64px;
   

   
}

.about-container-card img {
    width: 50%;
    height: 90%;


}

.card {
    display: flex;
    width: 270px;
    height: 180px;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    
    }

    .card p {
        font-size: 16px;
        color: var(--primary);
        font-weight: bold;
    }

    .card span {
        margin-top: 12px;
        font-size: 12px;
        color: var(--primary);

    }

/* Apply Section  */

.section-apply h1 {
    width: 100%;
    height: 90px;

    background: #074D77;
    justify-content: center;
    padding-top: 16px;
    font-size: 32px;
    color: var(--white);
    text-align: center;

}

.apply-container,
.apply-container-green {

    width: 100%;
    height: 200px;
    color: var(--white);
    display: flex;
    
}
.apply-container {
background: linear-gradient(100deg, #074D77 68.49%, rgba(7, 77, 119, 0.00) 90.67%);

}


.container-text-apply,
.container-text-apply-green {
        margin-left: 0px;
        margin-top: 5px;
        
}

.container-text-apply h2 {
    font-size: 24px;
    padding-left: 20px;
    padding-top: 8px;

}

.container-text-apply-green h2 {
    font-size: 24px;
    padding-top: 8px;
    
}
.container-text-apply p {

    font-size: 14px;
    margin-bottom: 20px;
    padding-left: 18px;

}

.container-text-apply-green p {
    font-size: 14px;
    margin-bottom: 6px;
    margin-top: 8px
}

.apply-container img {
    width: 230px;
    height: auto;
    object-fit: contain;

}

.apply-container-green {
background: linear-gradient(280deg, #57910F 38.37%, rgba(87, 145, 15, 0.00) 92.64%);
    
}

.apply-container-green img {
    width: 210px;
    height: auto;
    object-fit: contain;
}

.apply-container #quote-button {
   margin-left: 24px;
}

.requieriments-section {
    width: 100%;
    height: 520px;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
   

}

.requieriments-container h2 {
    padding-top: 180px;
    font-size: 32px;
    text-align: center;
    color: var(--white);
}
 
.container-requieriment-list {

    width: 100%;
    height: 200px;
    margin: 24px;

}

.requieriment-list p {
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 26px;
    color: var(--white);
}

.requieriment-list li {
    margin-left: 24px;
    list-style: circle;
    font-size: 16px;
    color: var(--white);

}

/* Estilos para el formulario de comentarios */
.section-comments {
    background-color: var(--white);
    padding: 40px;
    text-align: center;
    color: var(--primary);
}

.comments-container {
    max-width: 600px;
    margin: 0 auto;
}

#comment-form {
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
    border-radius: 4px;
    font-size: 10px;
    cursor: pointer;
}





/* Estilos para el footer */
footer {
    width: auto;
    height: 120px;
    background-color: var(--primary);
    color: var(--white);
    padding: 40px 0; 
    text-align: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 100;

}

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-footer ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    margin-top: 12px;
    font-size: 12px;
    gap: 24px;
}

.container-footer  img {
    width: 16px;
    height: 18px;
    align-items: center;
    object-fit: contain;
}
.firma {
    font-size: 8px;
    margin-top: 16px;
}