/* Estilos para la sección de servicios */
.apply-container {
    width: auto;
    height: 300px;
    padding: 70px;
    margin: 24px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

/* Estilos para las tarjetas de servicios */
.apply-card {
    background: #003656;
    color: white;
    width: 70%;
    height: 250px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(7, 7, 7, 0.63);
    opacity: 1; /* Inicialmente establecida a 0 para la animación */
    animation: slideInLeft 1s ease-in-out;
}

/* Estilos para el título de las tarjetas de servicios */
.apply-Title {
    color: white;
}

/* Estilos para el texto de las tarjetas de servicios */
.apply-card p {
    font-size: 18px;
}

/* Define un conjunto de reglas de animación usando @keyframes */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(1);
    }
}
