.Contact-Form {
    width: auto;
    height: 700px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white; 
    background: #003656;
    padding: 24px;
    
}

.Contact-Form h1 {
    font-size: 48px;
    padding-bottom: 24px;
    text-align: center;
    color: white; 
    text-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.25);
}

form {
    color: #003656;
    background: rgb(235, 235, 235); 

    width: 35%;
    height: auto;
    box-shadow: 4px 4px 4px 0px rgba(112, 112, 112, 0.548);
    border-radius: 16px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 16px;
    align-items: center;
}

h4 {
    font-size: 24px;
    margin: 12px;

}

input {
    height: 48px;
    width: 100%;
    gap: 50px;
    border-radius: 16px;
    padding-left: 24px;
    font-size: 16px;
    border-style: none;
    background: rgb(235, 235, 235); 
    border: solid rgba(128, 128, 128, 0.418) 1px;
}


.comment {
    height: 150px;
    text-align:start;
    margin-bottom: 24px;
}