/* Estilos para el formulario de contacto */
.Contact-Form {
    width: auto;
    height: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #003656;
    padding: 24px;
}

/* Estilos para el título del formulario */
.Contact-Form h1 {
    font-size: 36px;
    margin: 0;
    padding-bottom: 12px;
    text-align: center;
    color: #003656;
    text-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.25);

}

.contact-Text {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 70px 0 70px;
      text-align: center;
    align-items: center;
}

.contact-Text p {
    margin: 0;
    padding: 10px;
}
/* Estilos para el botón de contacto */
.button-FormContact {
    width: 200px;
    height: 64px;
    font-size: 16px;
    background: #003656;
    color: aliceblue;
    margin-top: 30px;
    border: none;
    cursor: pointer; /* Hace que el cursor cambie a una mano al pasar sobre el botón */
    transition: background 0.3s, color 0.3s; /* Agrega una transición suave al cambio de color */
}

.button-FormContact:hover {
    background: green;
    color: aliceblue;
}

/* Estilos para la imagen en el formulario */
.Contact-Form img {
    height: 120%;
    margin-right: 80px;
    
}
