/* Estilos para el formulario de contacto */
.Contact-Form {
    width: auto;
    height: 700px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    background: #003656;
    padding: 24px;
}

/* Estilos para el título del formulario */
.Contact-Form h1 {
    font-size: 48px;
    padding-bottom: 24px;
    text-align: center;
    color: white;
    text-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.25);
}

/* Estilos para subtítulos en el formulario */
h4 {
    font-size: 24px;
    margin: 12px;
}

/* Estilos para el botón de contacto */
.button-FormContact {
    height: 64px;
    font-size: 20px;
    background: yellow;
    color: #003656;
    cursor: pointer; /* Hace que el cursor cambie a una mano al pasar sobre el botón */
    transition: background 0.3s, color 0.3s; /* Agrega una transición suave al cambio de color */
}

.button-FormContact:hover {
    background: green;
    color: aliceblue;
}

/* Estilos para la imagen en el formulario */
.Contact-Form img {
    height: 50%;
}
